@import "./font";

.content{
    @include flex(column,#EEEEEE,none);
    flex-grow: 1;
    padding: 8px;
    justify-content: center;
    align-content: stretch ;

    .login-container{
        max-width: 500px;
        width: 100%;
        background-color: white;
        margin: 50px auto;
        padding: 30px;
        border-top: 5px solid aqua;
        margin-bottom: 30px;
        box-sizing: border-box;

        .login-title{
            @include flex(row,initial,center);
            margin-bottom: 20px;
            font-size: 1.5em;
            span{
                @include myfont(900);
                text-align: center;
                flex-grow: 1;
            }
        }
        .login-radio{
            input[type="radio"]{
                height: 19px;
                width: 19px;
                accent-color: green;
                margin-right: 10px;
            }
            @include flex(row,initial,center);
            margin-bottom: 30px;
            flex-wrap: wrap;
            .radio-district,.radio-Independentschool{
                @include myfont(700);
                margin-right: 30px;
                display:inline-flex;
                align-items: center;
                font-size: medium;
                padding: 4px;
                
            }
            .radio-Independentschool label{
                flex-shrink: 0;
            }
        }
        .user-info{
            .state{
                margin-bottom: 30px;
                label{
                    font-size: small;
                    @include myfont(500);
                }
                select{
                    @include myfont(700);
                }
            }
            .district{
                margin-bottom: 50px;
                label{
                    font-size: small;
                    @include myfont(500);
                }
                select{
                    @include myfont(700);
                }
            }
            .username{
                margin-bottom: 40px;
                border:0;
                input::placeholder{
                    @include myfont(700);
                }
                div{
                    @include myfont(700);
                    text-align: right; 
                    font-size: medium;
                    color: #3fd28b;
                    
                    text-decoration: none;
                    a{
                        color: rgb(0, 95, 0); 
                        text-decoration: none;
                    }
                 }

            }
            .password{
                
                input::placeholder{
                    @include myfont(700);
                }
                margin-bottom: 30px;
                border:0;
                .pass{
                    display: flex;
                    border: 0;
                    align-items: center;
                    border-bottom: 1px solid rgb(171, 167, 167);
                }
                .eye{
                    text-align: right; 
                    font-size: medium;
                    a{
                        @include myfont(700);
                        color: rgb(0, 95, 0); 
                        text-decoration: none;
                    }
                }
            }
            .remember-me{
                input[type="checkbox"]{
                    height: 19px;
                    width: 19px;
                    margin: 0px;
                    margin-right: 5px;
                }
                @include myfont(700);
                display: flex;
                align-items: center;
                margin-bottom: 30px;
            }
            .login{
                text-align: center;
                button{
                    padding: 10px 80px;
                    border: 0;
                    border-radius: 4px;
                    font-size: medium;
                    background-color: #3fd28b;
                    color: black;
                    @include myfont(700);
                }
            }
            select{ 
                width: 100% !important;
                border:0;
                border-bottom:1px solid rgb(171, 167, 167);
                font-size: large;
            }
            input[type="radio"]{
                height: 19px;
                width: 19px;
                accent-color: green;
                margin-right: 10px;
            }
            input:not([type=checkbox],[type=password]){
                width: 100%;
                padding: 4px;
                border:0;
                font-size: large;
                border-bottom:1px solid rgb(171, 167, 167);
            }
            input[type=password]{
                padding: 4px;
                /* outline: none; */
                border:0 !important;
                font-size: large;
                border-bottom:1px solid rgb(171, 167, 167);
            }
            input[type="checkbox"]{
                accent-color: green;    
            }   
        }  
    }    
}